

.body {
    background-color: rgb(228, 255, 108);
    margin: 20px;
}
.tortilla{
    font-family:cursive;
}
.div1{
    position:absolute;
    width: 520px;
    height: 650px;
    background-color: rgb(234, 253, 148);
    left: 750px;
    top: 100px;
    color: black;
}
.foto{
    position: absolute;
    width: 450px;
    height: 300px;
    left: 180px;
    top: 200px;
}