body{
    background:rgb(41, 41, 41)

}
h1{
    color:white;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
dl{
    color: white;
}
li{
    color: white;
}
ul{
    list-style: upper-roman;
}
ol{
    list-style-image:url(./img/xd\ \(1\).png)
}
dt{
    color: black;
    background-color: yellow;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    padding: 3px;
    width: 30%;
}
