body{
    background:black;

}
h1{
    color:white;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
dl{
    color: white;
}
li{
    color: white;
}
ul{
    list-style: upper-roman;
}
ol{
    list-style-image:url(./img/xd\ \(1\).png

