.tabla{
    position:absolute;
    height: 50%;
    width: 50%;
    top: 25%;
    left: 23%;
}
.SOR{
    background-color: yellow;
    color: black;
}
.SI{
    background-color: green;
    color: BLACK;
}
.AW{
    background-color: rgb(201, 134, 134);
    color: black;
}
.SR{
    background-color: orange;
    color: black;
}
.EIE{
    background-color: pink;
    color: black;
}
.Ingles{
    background-color: rgb(28, 190, 136);
    color: black;
}