*{
    -webkit-box-sizing: border-box;
        box-sizing: border-box;
}

body{
    margin: 0;
}
h1{
    left: 50px;
    position: relative;
    top:10px;
    width: 80%;
}
.padre{
    background-color: lightblue;
    height: 200px;
    margin:20px auto;
    position: relative;
    width: 60%;
}
.padre div{
    height: 50px;
    position: absolute;
    width: 50px;
}
.padre div.hijo1{
    background-color: black;
    position: absolute;
    width: 50px;
    left: 20%;
    top: 20%;
    z-index: 2 ;

}
.padre div.hijo2{
    background-color: blue;
    position: absolute;
    width: 50px;
    left: 10%;
    top: 30%;
    z-index: 2 ;

}
.menu{
    background-color: lightgrey;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 2;
}

.menu-elemento{
    background-color: lightcoral;
    

}
